@import "tailwindcss";

.theme{
    animation: fade-in-scale 0.3s ease-out;
}

@keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}